<div class="card ml-5">
  <div class="card-body">
    <%= form_for @comment do |f| %>
      <div class="form-group">
        <%= f.label 'Comment' %>
        <%= f.text_area :comment_content, placeholder: "Comment...",required: true, class: 'form-control'%>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
