<div class="input-reply">
  <%= text_field_tag :comment_content, nil, class: "form-control reply-content", 
                            placeholder: "New comment" %>
  <%= button_tag :Submit, class: "btn btn-primary reply-submit"%>
</div>
