<div class="input-comment">
  <%= text_field_tag :comment_content, nil, class: "form-control comment-content", 
                            placeholder: "New comment" %>
  <%= button_tag :Submit, class: "btn btn-primary comment-submit"%>
</div>
