<div class="form-group form-comment">
  <div class="row">
    <%= text_field_tag :comment_content, nil, class: "form-control", placeholder: "New comment ... " %>
    <%= button_tag "Comment", class: "btn btn-primary" %>
  </div>
</div>
